* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  height: 100vh;
  background-image: url("../images/game-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-section{
  height: 25vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-title-background{
  background-color: rgba(0, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 35px;
  max-width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-title-background-left-section, .game-title-background-right-section{
  border-radius: 35px;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-title-image{
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 100%;
  object-fit: contain;
}

.game-title-text{
  text-align: center;
  font-size: clamp(24px, 5vw,75px);
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.main-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  height: 70vh;
  max-width: 100%;
}

#play-link{
  text-decoration: none;
  color: white;
}

.play-button, .high-score-button{
  width: 300px;
  background-color: rgb(255, 165, 0);
  color: white;
  padding-top: 36px;
  padding-bottom: 36px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Bitcount Grid Double", system-ui;
  font-size: 35px;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

@media (max-width: 360px){
  .play-button, .high-score-button{
    width: 150px;
    font-size: 22px;
  }
}

@media (min-width: 361px) and (max-width: 480px){
  .play-button, .high-score-button{
    width: 200px;
    font-size: 20px;
  }
}

@media (min-width: 481px) and (max-width: 768px){
  .play-button, .high-score-button{
    width: 250px;
    font-size: 25px;
  }
}

@media (min-width: 769px) and (max-width: 1000px){
  .play-button, .high-score-button{
    width: 280px;
    font-size: 30px;
  }
}

.play-button:hover, .high-score-button:hover{
  background-color: rgba(255, 165, 0, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transition: 0.2;
  transform: scaleX(1.1);
}

.play-button:active, .high-score-button:active{
  background-color: rgba(255, 165, 0, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transition: 0.3;
}

.fa-play, .fa-trophy{
  font-size: 26px;
  margin-left: 8px;
}

.footer-section{
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  margin: 0;
}

.my-profile{
  font-family: "Bitcount Grid Double", system-ui;
  font-size: 0.8rem;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.github-link{
  color: black;
}

.github-link:visited{
  color: rgb(25, 81, 249);
}

.github-link:hover{
  color: rgb(116, 3, 176);
  transition: 0.2;
}

.github-link:active{
  color: rgb(1, 110, 178);
  transition: 0.3;
}


